<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Display 7 Segmentos</title>
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
</head>

<style>
    button:hover {
        font-weight: 800;
        background-color: beige;
    }
</style>

<body class="bg-red-400 min-h-screen flex items-center justify-center font-sans">
    <div class="bg-white rounded-3xl shadow-2xl p-8 w-[320px] text-center border-4 border-orange-300">
        <div id="numActual" class="bg-black text-white text-4xl font-mono py-4 rounded-xl mb-6 shadow-inner tracking-widest">
            Apagado
        </div>
        <div class="grid grid-cols-3 gap-3 mb-6">
            <button class="btn">1</button>
            <button class="btn">2</button>
            <button class="btn">3</button>
            <button class="btn">4</button>
            <button class="btn">5</button>
            <button class="btn">6</button>
            <button class="btn">7</button>
            <button class="btn">8</button>
            <button class="btn">9</button>
        </div>
        <button id="btnOff" class="w-full bg-orange-400 hover:bg-orange-500 active:scale-95 transition text-white font-bold py-2 rounded-xl shadow-md">
            Apagar
        </button>
    </div>

</body>
<script>
    function numActual(msg) {
        document.querySelector("#numActual").innerText = msg;
    }

    document.addEventListener("DOMContentLoaded", () => {
        const botones = document.querySelectorAll(".btn");

        botones.forEach((btn) => {
            btn.addEventListener("click", (e) => {
                let comando = e.currentTarget.innerText;

                fetch(`/api/btn?n=${comando}`).then(r => r.json()).finally(() => numActual(comando));
            });
        });

        document.querySelector("#btnOff").addEventListener("click", () => {
            fetch("/api/apagar").then(r => r.json()).finally(() => numActual("Apagado"));
        });
    });
</script>

</html>